<script type="text/javascript">window.appId = {{appId}}; window.appAnalytics = "{{appAnalytics}}"; window.facebookAppId = "{{facebookAppId}}"; </script>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{appName}}">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
{{#icon}}
<link rel="apple-touch-icon" href="{{icon}}">
<link rel="icon" type="image/png" href="{{icon}}" />
{{/icon}}
<link rel="apple-touch-startup-image" href="{{splash}}">
<title>{{appName}}</title>
