<script type="text/javascript">window.appId = {{appId}}; window.appAnalytics = "{{appAnalytics}}"; window.window.facebookAppId = "{{facebookAppId}}"; </script>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{appName}}">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link rel="apple-touch-icon" href="{{icon}}">
<link rel="icon" type="image/png" href="{{icon}}" />
<link rel="apple-touch-startup-image" href="{{splash}}">
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded",function(){
	  var elemDiv = document.createElement('div');
	    elemDiv.id = "m-web-splash";
	    elemDiv.style.cssText = "background-image:url({{{splash}}});";
	    elemDiv.innerHTML = '';
	     window.document.body
             .insertBefore(elemDiv, window.document.body.firstChild);
	} , false);
</script>
<title>{{appName}}</title>
